boto3==1.7.54
passlib==1.7.1
plaster_pastedeploy==0.5
pyramid==1.9.2
pyramid_debugtoolbar==4.4
pyramid_jinja2==2.7
pyramid_nacl_session==0.3
pyramid_retry==0.5
pyramid_tm==2.2
SQLAlchemy==1.2.9
transaction==2.2.1
zope.sqlalchemy==1.0
waitress==1.1.0
WTForms-Alchemy==0.16.7
