{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-1 px-0"></div>
    <div class="col-md-10 px-0">
      <h1 class="display-4 font-italic">About</h1>
      <p class="lead my-3">
        You got a request from a friend to create a gallery for his weeding where his friends will be able to upload their photos and he`ll have a unified gallery with all friend's photos.
        He wants to be able to approve the the photos before be visible to everyone. He and his wife should be the only one able to approve new photos.
        Users must be able to like photos and photos with more likes should be listed first in the page.

        Please create a website that supply their needs. The photos must be saved on Amazon AWS S3 and the gallery must be fast to open even if there many photos.
      </p>


      <p class="lead mb-0">
        <strong>Details of the solution</strong>
      </p>
      <ul>
        <li>
          The resolution must be a web application.
        </li>
        <li>
          There must supply all the information needed to test the application
        </li>
        <li>
          The application must run
        </li>
        <li>
          The code needs to be hosted in your preferred code repository
        </li>
        <li>
          You need to host the application in a server of your choice and give us a link to access and use the application
        </li>
        <li>
          You should provide sufficient evidence that your solution is complete by, as a minimum, indicating that it works correctly against the requirements
        </li>
      </ul>
    </div>
    <div class="col-md-1 px-0"></div>
</div>
{% endblock content %}