{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 px-0">
      <h1 class="display-4 font-italic">Users</h1>
      <p class="lead my-3">
          The following are the users created with initializedb to use the project.
          They all share the same - "very strong" - password: 123456
      </p>
      <p class="lead mb-0">
        <strong>someguy</strong>: fiancé
      </p>
      <p class="lead mb-0">
        <strong>somegirl</strong>: fiancé
      </p>
      <p class="lead mb-0">
        <strong>normaluser</strong>: a random friend
      </p>
    </div>
</div>
{% endblock content %}