{% extends "../base.html" %}

{% block extracss %}
<link rel="stylesheet" href="{{request.static_url('agallery:static/css/jquery.fileupload.css')}}">
{% endblock extracss %}

{% block content %}
{% if request.has_permission('image_send') %}
<div class="row">
    <div class="col-md-8">
      <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#sendImages" aria-expanded="false" aria-controls="sendImages">
        Send photos
      </button>
    </div>
    <div class="col-md-2"></div>
    <br/><br/>
</div>
<div id="sendImages" class="jumbotron p-3 p-md-5 text-white rounded bg-inverse collapse">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Upload photos</h1>
    <p class="lead my-3">
      <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select photos to upload...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
      </span>
    </p>
    <p class="lead mb-0">
      <br>
      <br>
      <!-- The global progress bar -->
      <div id="progress" class="progress bg-inverse">
          <div class="progress-bar progress-bar-success"></div>
      </div>
      <!-- The container for the uploaded files -->
      <div id="files" class="files"></div>
    </p>
  </div>
</div>
{% endif %}

<div class="row">
  {% for photo in photos %}
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" alt="Photo [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{photo.url}}" data-holder-rendered="true">
      <div class="card-body">
        <p class="card-text"></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="#" data-like="{{request.route_url('gallery_like')}}" data-dislike="{{request.route_url('gallery_dislike')}}" data-uid="{{photo.uid}}" class="like_photo btn btn-sm btn-outline-primary">
              {% if request.user.login not in photo.likes_ids %}Like{%else%}Dislike{% endif %}
            </a>
          </div>
          <small class="text-muted">
            <span id="{{photo.uid}}_likes">{{photo.likes_count}}</span> likes
          </small>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}

{% block footerjs %}
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{request.static_url('agallery:static/js/vendor/jquery.ui.widget.js')}}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{request.static_url('agallery:static/js/jquery.iframe-transport.js')}}"></script>
<!-- The basic File Upload plugin -->
<script src="{{request.static_url('agallery:static/js/jquery.fileupload.js')}}"></script>
<script>
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    var url = '{{request.route_url('gallery')}}';
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<a href="'+file.url+'"/>').text(file.name).appendTo('#files');
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css('width', progress + '%');
        },
        stop: function (e) {
          alert('Upload finished!\nWait for the photos to be approved to see them here.');
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');


  $('.like_photo').click(function(event) {
    var elem = $(event.target);
    var uid = elem.data('uid');
    var like = elem.data('like');
    var dislike = elem.data('dislike');

    if(elem.text().replace(/^\s+|\s+$/g, '') === 'Like') {
      var href = like;
    } else {
      var href = dislike;
    }

    $.post(href, {'uid': uid}, function(data) {
      if(data.error) {
        alert(data.error);
      } else {
        if(elem.text().replace(/^\s+|\s+$/g, '') === 'Dislike') {
          var add = -1;
          elem.text('Like');
        } else {
          var add = 1;
          elem.text('Dislike');
        }

        var likes = parseInt($('#' + uid + '_likes').text()) + add;
        $('#' + uid + '_likes').text(likes);
      }
    })
    .fail(function() {
      alert('Error trying to like the photo. Try again later.');
    });

    event.preventDefault();
  });

});
</script>
{% endblock footerjs %}